.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: rgb(var(--color-2));
  color: rgb(var(--color-white-1));
  height: 40px;
  padding: 0 10px;
}

.profile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.profile_icon {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

.profile_drop {
  right: -5px;
  display: inline-block;
  background-color: rgb(var(--color-white-5));
  width: 100px;
}

.main {
  display: flex;
  flex-grow: 1;
  background-color: rgb(var(--color-white-2), 0.3);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  background-color: rgb(var(--color-black-5));
  color: rgb(var(--color-white-1));
}

.create_note {
  background-color: rgb(var(--color-strong-3));
  border-radius: 5px;
  margin: 60px 0;
  padding: 15px 25px;
  font-size: 1.2em;
}

.create_nota_textarea {
  color: white;
  flex-grow: 1;
  background-color: rgb(var(--color-white-1), 0.1);
  resize: none;

  padding: 7px 5px;
}

.content {
  flex-grow: 1;
}
