.footer{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 25vh;
    width: 100%;
    
    justify-content: center;
    background-color: #00001dc2;
}

.text{
    font-size: 1.2em;
}

.text, .licence span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #949494;
}

.licence span{
    font-size: 0.9;
    margin-left: 3px;
    vertical-align: center;
}

.social_media{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 30%;
}

.social_media div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.media_icon{
    height: 37px;
    width: 37px;
    transition: .5s;
    color: rgb(72, 0, 24);
}

.media_icon:hover{
    height: 39px;
    width: 39px;
}

.github_icon:hover{fill: #6e5494}
.linkedin_icon:hover{fill: #0077B5}
.gmail_icon:hover{fill: red}
