.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to bottom right, rgb(var(--color-strong-1), 0.5), rgb(var(--color-strong-3), 0.5));
    background-color: rgb(var(--color-white-5));
}

.content{
    background-image: linear-gradient(to bottom right, rgb(var(--color-white-1)), rgb(var(--color-white-2)));
    border-radius: 7px;
    padding: 50px 40px;
    min-width: 600px;
    margin: 45px 0;
}

@media screen and (max-width: 600px){
    .content{
        width: 100%;
        border-radius: 0;
    }
}