.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh   ;
    min-width: 100vw;
}

.content{
    background-color: bisque;
    border-radius: 7px;
    padding: 50px 40px;
    min-width: 600px;
    margin: 45px 0;
}

@media screen and (max-width: 600px){
    .content{
        width: 100%;
        border-radius: 0;
    }
}