/*
   INPUT
*/

.content {
  position: relative;

  background-color: #fafafa;

  border: 2px solid rgba(0, 0, 0, 0.142);
  border-radius: 5px;

  min-width: 400px;
  height: 57px;

  font-weight: bold;
  font-size: 0.8em;
  z-index: 1;
}

.content:hover {
  border-color: rgba(0, 0, 0, 0.396);
}

.content:focus-within {
  border-color: rgba(0, 0, 0, 0.86);
}

.content:hover,
.content:focus-within {
  background-color: #efefef;
}

.content span {
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 7px;
  opacity: 70%;
}

.content:focus-within span,
.content input:valid + span {
  opacity: 100%;
}

.content input {
  width: 100%;
  height: 100%;
  padding: 25px 20px 15px 25px;
  opacity: 90%;
}

.error {
  border-color: 1px solid rgba(255, 0, 0, 0.679) !important;
  box-shadow: 0px 0px 19px rgba(255, 0, 0, 0.533);
}

.error:focus-within {
  border-color: 1px solid red !important;
  box-shadow: unset;
}

.error:focus-within::before {
  content: "⚠";

  position: absolute;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  top: 50%;

  font-size: 1.4em;
  color: rgb(86, 86, 0);
}

/*
    SubmitInput
*/

.submit_input {
  background-color: #fafafa;

  border-radius: 10px;
  border: 2px solid transparent;

  padding: 20px 30px;

  font-weight: bold;
  font-size: 1.05em;
  cursor: pointer;
}

.submit_input:hover {
  background-color: #efefef;
  border-color: rgba(0, 0, 0, 0.396);
}

.submit_input:focus {
  background-color: #e6da00;
}

/*
    DropDown
*/

.drop_down_content_itens {
  display: none;
  background-color: #fafafa;
  border-radius: 3px;
  padding: 7px;
}

.drop_down_iten {
  padding: 5px 7px;
}
