.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    border-radius: 7px;
    padding: 50px 40px;
    min-width: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 370px;
}

.form h1{
    font-size: 3.5em;
    margin-bottom: 40px;
}

.input_content{
    position: relative;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8em;
    cursor: text;
}

.input_content:hover{
    background-color: #efefef;
    border: 1px solid rgba(0, 0, 0, 0.577);
    padding: 9px;
}

.input_content:hover span{
    top: 6px;
    left: 6px;
}

.input_content[type='submit']:hover{
    border: none;
}

.input_content:focus-within{
    padding: 8.5px;
    border: 2px solid rgba(0, 0, 0, 0.86);
    background-color: #efefef;
}

.input_content:focus-within span{
    top: 5.5px;
    left: 5.5px;
}

.input_content span{
    left: 7px;
    top: 7px;
    position: absolute;
}

.input_content input{
    padding: 15px 10px 5px 15px;
    min-width: 400px;
}

.input_content[type='submit']{
    border: none;
    cursor: pointer;
    padding: 10px 50px;
}

.footer{
    padding-right: 25px;
}

@media screen and (max-width: 600px){
    .content{
        width: 100%;
        border-radius: 0;
    }
}